* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.popovers {
    padding: 10px 35px;
    background-color: red;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    outline: transparent;
}

.popovers:hover {
    background-color: darkred;
}

.popover__window {
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 1px 1px 8px #dddddd;
    color: #000000;
    border-radius: 5px;
    transition: 0.25s;
    opacity: 0;
}

.popover__window--show {
    opacity: 1;
}


.popover__window:after {
    content: '';
    position: inherit;
    left: 50%;
    bottom: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.25);
    transform: translate(-50%, 50%) rotate(45deg);
    z-index: 1;
    box-shadow: 1px 1px 8px #dddddd;
}

.popover__window-title {
    padding: 10px;
    background-color: #efefef;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.popover__window-desc {
    position: relative;
    padding: 10px;
    font-size: 14px;
    z-index: 2;
    background-color: #ffffff;
}

